@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@100&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: url('j1.jpg');
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.box {
	background-color: black;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
	width: 600px;
	max-width: 100%;
	text-align: center;
}

.box h2 {
	margin-top: 0;
	color: azure;
}

.box p {
	margin: 2rem;
	color: azure;
}

.box button {
	background-color: aliceblue;
	border: 0;
	border-radius: 3px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
	color: aliceblue;
	cursor: pointer;
	padding: 0.5rem 1rem;
	color: black;
	transition: transform 0.1s linear;
}

.box button:active {
	transform: scale(0.98);
}

.box button:focus {
	outline: none;
}
